*{
	padding: 0px;
    margin: 0px;
}

html, body{
	height: 100%;
   	margin: 0px;
}

body.content{
	background: #000000;
}

div.main_container{
    max-width: 1920px;
    min-width: 700px;
}

div{
	display: block;
}

object.header {
	width:100%;
	background-color:transparent;
	margin:0px;
	height:46px;
}

div.nav_wrapper{
	padding: 0px;
	width:100%;
	font-size: 1.6em;
	line-height: 2em;
	text-align: center;
	background-color: #3d347e;
}

#nav_list{
	font-family: quarkbold;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	color: #555;
}

#nav_item{
	padding:0px;
	display: inline-block;
	position: relative;
	text-align: -webkit-match-parent;
	text-transform: uppercase;
	text-decoration: none;
	color: #f2f2f2;
	font-size: 1.1rem;
	line-height: 1.4rem;
}

#nav_item:hover{
	background-color: #9f9ad0;
	color: #ffffff;
}

#nav_link{
	padding: 12px 20px;
	display: block;
	text-align: left;
	text-transform: inherit;
	text-decoration: inherit;
	color:inherit;
	vertical-align: middle;
	table-layout: fixed;
}

/**
 * 	CONTENT
 */

div.content{
	padding:0px;
	margin:0px;
}

div.static_bg{
	min-height: 900px;
	background: transparent url(../images/bg01.png) 50% 0 no-repeat fixed;
	width: 100%;
	max-width:1920px;
	position:relative;
	padding:0px;
	margin:0px;
}

img.intro-logo{
	height:auto;
	width:80%;
	max-width:950px;
    margin-left: 3%;
    margin-top: 3%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

div.strip01{
	width: 469px;
	height: 350px;
	background: transparent url(../images/strip01.png) no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0px;
	right: 0;
}

h1.strip{
	margin: 20px 35px 50px;
	font-family: novecento_slab_widenormal;
	color: #3d347e;
	font-size: 2rem;
}

h2.strip{
	margin: 45px 35px 0px;
	font-family: canterlight;
	color: #eeeeee;
	font-size: 2.3rem;
}

h1.title{
	font-family: novecento_slab_widenormal;
	color: #FFFFFF;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 30px;
}

h2.subtitle{
	margin-bottom: 20px;
	font-family: aleoregular;
	color: #eeeeee;
	font-size: 1.8rem;
	margin-top:10px;
	margin-top:15px;
	text-align: center;
}

p.home_content{
	font-family: homizio_novaregular;
	color: #eeeeee;
	font-size: 1.5rem;
	text-align: center;	
}

div.plain_container{
	margin:0px;
	min-height: 500px;
	width: 100%;
	padding: 65px 10%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#about{
	background-color: #e0922e;
}

ul.circle_list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: block;
}

li.circle_list_item{
	padding:0px;
	display: inline-block;
	position: relative;
	text-align: -webkit-match-parent;
	text-transform: uppercase;
	text-decoration: none;
	padding:15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.ec-circle{
	text-decoration:none;
    width: 200px;
    height: 200px;
	-webkit-border-radius: 210px;
	-moz-border-radius: 210px;
	border-radius: 50%;
	text-align: center;
    overflow: hidden;
	font-family:'Kelly Slab', Georgia, serif;
	-webkit-box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #00c18167,
		0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #00c18167,
		0 0 10px rgba(0,0,0,0.3);
    box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #00c18167,
		0 0 10px rgba(0,0,0,0.3);
	-webkit-transition: box-shadow 400ms ease-in-out;
	-moz-transition: box-shadow 400ms ease-in-out;
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
	transition: box-shadow 400ms ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display: table;
	outline: none;
}
.ec-circle-hover{
	-webkit-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	-moz-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.ec-circle h3{
	z-index:50;
	color: transparent;
    font-family: canterlight;
	font-size: 2.5rem;
    text-shadow: 0px 0px 100px #fff;
	text-transform: uppercase;
    -webkit-transition: text-shadow 400ms ease-in-out;
	-moz-transition: text-shadow 400ms ease-in-out;
	-o-transition: text-shadow 400ms ease-in-out;
	-ms-transition: text-shadow 400ms ease-in-out;
	transition: text-shadow 400ms ease-in-out;
	display: table-cell; 
  	vertical-align: middle; 
}
.ec-circle-hover h3{
	text-shadow: 0px 0px 1px #fff;
}

#circle1{
	background: transparent url(../images/icon01.png) no-repeat center center;
}

#circle2{
	background: transparent url(../images/icon02.png) no-repeat center center;
}

#circle3{
	background: transparent url(../images/icon03.png) no-repeat center center;
}

#circle4{
	background: transparent url(../images/icon04.png) no-repeat center center;
}

#second{
	background: transparent url(../images/bg02.png) 50% 0 no-repeat fixed;
}

#objectives{
	background-color: #e5b632;
	padding-left: 0px;
	padding-right: 0px;
}

div.objective_container{
	min-width: 600px;
	max-width: 1000px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	position: relative;
}

img.small_logo{
	width: auto;
	top: 50%;
	margin-top: -75px;
	left: 50%;	
  	margin-left: -94.5px;
	height: 150px;
	position: absolute;
	z-index: 1;
}

div.circle_obj_item{
	padding:0px;
	position: absolute;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	text-align: center;
	display: table;
}

#circle_obj_container_1{
	margin-left: -350px;
	margin-top: -100px;
}

#circle_obj_1{
	background: transparent url(../images/objetive-icon01.png) no-repeat center center;
}

#circle_obj_container_2{
  	margin-left: -225px;
  	margin-top: -317px;
}

#circle_obj_2{
	background: transparent url(../images/objetive-icon02.png) no-repeat center center;
}

#circle_obj_container_3{
	margin-left: 25px;
	margin-top: -317px;
}

#circle_obj_3{
	background: transparent url(../images/objetive-icon03.png) no-repeat center center;
}

#circle_obj_container_4{
	margin-left: 150px;
	margin-top: -100px;
}

#circle_obj_4{
	background: transparent url(../images/objetive-icon04.png) no-repeat center center;
}

#circle_obj_container_5{
	margin-left: 25px;
	margin-top: 117px;
}

#circle_obj_5{
	background: transparent url(../images/objetive-icon05.png) no-repeat center center;
}

#circle_obj_container_6{
	margin-left: -225px;
	margin-top: 117px;
}

#circle_obj_6{
	background: transparent url(../images/objetive-icon06.png) no-repeat center center;
}

#video{
	background-color: #32a4e5;
}

#third{
	background: transparent url(../images/bg03.png) 50% 0 no-repeat fixed;
}

#fourth{
	background: transparent url(../images/bg04.png) 50% 0 no-repeat fixed;
}

/**
 * 	FOOTER
 */

object.footer {
	width:100%;
	background-color:#3d347e;
	overflow:hidden;
	margin:0px;
}

div.footer{
	text-align: center;
	padding-top: 7px;
	padding-bottom:7px;
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

#footer_link_list{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#footer_link_item{
	display: inline-block;
	margin-left: 5px;
	margin-right:5px;
}

#footer_link:link, #footer_link:visited{
	color: #d8d8d8 !important;
	font-size: 15px;
	font-weight: normal !important;
	text-decoration: none;
	font-family:exoregular;
	font-style: normal !important;
	padding: 0 !important;
}

#footer_link:hover{
	color:#FFFFFF !important;
}

#footer_text{
	font-size: 11px;
	color: #FFFFFF;
}

div.nav_social{
	margin-top:15px;
	float:right;
	display:-moz-box;
    display:-webkit-box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    width:75px;
}

div.icon_cell{
	-moz-box-flex:1;
    -webkit-box-flex:1;
}

#button_style_f{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width: 25px;
	height: 25px;
	background: url('../images/facebook.png') bottom;
	text-indent: -99999px;
}

#button_style_f:hover, #button_style_f:active{
	background-position: 0 0;
}

#button_style_t{
	margin-left:auto;
	margin-right:auto;
	display: block;
	width: 25px;
	height: 25px;
	background: url('../images/twitter.png') bottom;
	text-indent: -99999px;
}

#button_style_t:hover, #button_style_t:active{
	background-position: 0 0;
}